SoapApi/src/main/java/SoapClient/ResourceApi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapApi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapApi/" name="ResourceApi">
<types>
<xsd:schema>
<xsd:import namespace="http://soapApi/" schemaLocation="http://desktop-ke0mvmd:8080/ResourceApi?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="ResourceAllocationException">
<part name="fault" element="tns:ResourceAllocationException"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="ResourceException">
<part name="fault" element="tns:ResourceException"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="addUResource">
<part name="parameters" element="tns:addUResource"/>
</message>
<message name="addUResourceResponse">
<part name="parameters" element="tns:addUResourceResponse"/>
</message>
<portType name="ResourceSoapApi">
<operation name="update">
<input wsam:Action="http://soapApi/ResourceSoapApi/updateRequest" message="tns:update"/>
<output wsam:Action="http://soapApi/ResourceSoapApi/updateResponse" message="tns:updateResponse"/>
<fault message="tns:ResourceAllocationException" name="ResourceAllocationException" wsam:Action="http://soapApi/ResourceSoapApi/update/Fault/ResourceAllocationException"/>
</operation>
<operation name="delete">
<input wsam:Action="http://soapApi/ResourceSoapApi/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://soapApi/ResourceSoapApi/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:ResourceException" name="ResourceException" wsam:Action="http://soapApi/ResourceSoapApi/delete/Fault/ResourceException"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://soapApi/ResourceSoapApi/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://soapApi/ResourceSoapApi/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://soapApi/ResourceSoapApi/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://soapApi/ResourceSoapApi/getByIdResponse" message="tns:getByIdResponse"/>
<fault message="tns:ResourceException" name="ResourceException" wsam:Action="http://soapApi/ResourceSoapApi/getById/Fault/ResourceException"/>
</operation>
<operation name="addUResource">
<input wsam:Action="http://soapApi/ResourceSoapApi/addUResourceRequest" message="tns:addUResource"/>
<output wsam:Action="http://soapApi/ResourceSoapApi/addUResourceResponse" message="tns:addUResourceResponse"/>
</operation>
</portType>
<binding name="ResourceSoapApiPortBinding" type="tns:ResourceSoapApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ResourceAllocationException">
<soap:fault name="ResourceAllocationException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ResourceException">
<soap:fault name="ResourceException" use="literal"/>
</fault>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ResourceException">
<soap:fault name="ResourceException" use="literal"/>
</fault>
</operation>
<operation name="addUResource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ResourceApi">
<port name="ResourceSoapApiPort" binding="tns:ResourceSoapApiPortBinding">
<soap:address location="http://desktop-ke0mvmd:8080/ResourceApi"/>
</port>
</service>
</definitions>